header.course-header {
  @include aspect-ratio(16,9);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  &:before {
    background: linear-gradient(to bottom, transparent, $body-bg);
  }
  video {
    @include aspect-ratio(16,9);
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0;
    position: absolute;
    padding: 20px;
    top: 40px;
    width: 100%
  }
  video::-internal-media-controls-download-button {
    display:none;
  }

  video::-webkit-media-controls-enclosure {
    overflow:hidden;
  }

  video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
  }
  &.video-active {
    video {
      animation-name: video_fade_in;
      animation-duration: 1s;
      animation-delay: 0.25s;
      animation-fill-mode: forwards;
    }
  }
}

body.single-download {

  .course-title {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    transition: all 1s;
    width: 100%;
    z-index: 100;
    h1 {
      color: $gray-base;
      font-family: $font-caldera-title-font;
      font-size: 4em;
      font-weight: 700;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
    .download-type {
      color: $color-caldera-orange;
      display: block;
      text-align: center;
      font-family: $font-caldera-title-font;
      font-size: 1.5em;
      font-weight: 400;
      text-transform: uppercase;
    }
    .play-course-video {
      display: inline-block;
      font-size: 8em;
      position: relative;
      top: -50px;
      text-align: center;
      i {
        border: 2px solid black;
        border-radius: 50%;
        color: rgba(255,255,255,0.75);
        line-height: 96px;
      }
      &:hover {
        i {
          color: white;
        }
      }
    }

    @media screen and (max-width: $screen-md) {
      margin-bottom: 10px;
      top: -80px;
      h1 {
        font-size: 2em;
      }
    }
  }

  .course-content-wrapper {
    position: relative;
    top: -450px;
    transition: all 1s;
    &.video-active {
      top: 20px;
      .course-title .play-course-video {
        display: none;
      }
    }
  }

}
.course-languages {
  border-top: 1px solid $gray-base;
  border-bottom: 1px solid $gray-base;
  list-style: none;
  margin: 0 0 20px;
  padding: 20px 0 20px;
  li {
    display: inline-block;
    a {
      display: block;
      font-family: $font-caldera-title-font;
      font-size: 1.25em;
      padding: 0 5px;
      &:hover {
        color: $color-caldera-orange;
      }
    }
  }
}

.video-course-meta {
  margin: 0 0 20px 0;
  font-size: 1.25em;
  .course-length {
    display: inline-block;
    font-family: $font-caldera-title-font;
    margin: 0 20px 0 0;
    padding: 0;
    vertical-align: top;
  }
  .course-teachers {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    li {
      display: inline-block;
      a {
        display: block;
        font-family: $font-caldera-title-font;
        font-size: 1em;
        padding: 0 5px;
        &:hover {
          color: $color-caldera-orange;
        }
      }
    }
  }

}

.course {
  .content {
    p:last-of-type {
      margin-bottom: 40px;
    }
  }
  .edd-submit.button.blue {
    background: $color-caldera-orange;
    border: 1px solid $gray-base;
    display: block;
    font-family: $font-caldera-title-font;
    font-size: 1.5em;
    font-weight: 400;
    padding: 12px 12px;
    text-transform: uppercase;
    width: 100%;
    &:first-of-type {
      margin: 40px 0 0 0;
      font-size: 1.25em;
      padding: 6px 12px;
    }
  }
}